<h1>This si the page displaying our webpage</h1>


<p><%= link_to "Home", root_path %></p>


<p>checking everything is fine</p>

<% @wines.each do |wine| %>
<h1><%= wine.name %></h1>

<%end  %>


<%= cl_image_tag("8_Years_In_The_Dessert_lwfwkv",
      width: 120, height: 500) %>

