<h1>This si the page displaying our webpage</h1>


<p><%= link_to "Home", root_path %></p>


<p>checking everything is fine</p>

<% @wines.each do |wine| %>
<h1><%= wine.name %></h1>
<%= cl_image_tag("#{wine.photo}",
      width: 120, height: 500) %>

<%end  %>




